{% extends "base.html" %}
{% block content %}
<h1>My Visited Countries</h1>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/countries">Countries</a></li>
        <li><a href="/countries/unvisited">Unvisited Countries</a></li>
      </ul>
    </nav>
  </header>

{% for country in countries %}
  {% if country.visited == True %}

  <div class="country">
    <div class="content">
      Country: 
      <a href="/countries/{{country.id}}">{{country.country_name}}</a>
      <div class="continent">
        Continent: {{country.continent}}

        <div class="visited">
          Visited: {% if country.visited == True %}
          <span> &#10004; </span>
          {% else %}
          <span> &#10006; </span>
          {% endif %}
        </div>

              <div class="buttons">
              <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
                <button class="trash-button"></button>
              </form>
            </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
 

{% endblock %}