{% extends "base.html" %}
{% block content %}
<h1>My Cities</h1>

{% for city in cities %}
  <div class="city">
    <div class="content">
      {{city.city_name}}
      <div class="country">
        {{city.country_id}}
              <div class="visited">
                {% if city.visited == True %}
                <span> &#10004; </span>
                {% else %}
                <span> &#10006; </span>
                {% endif %}
              </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}