{% extends "base.html" %}
{% block content %}
<h1>My Cities</h1>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/cities/new">New City</a></li>
      </ul>
    </nav>
  </header>

{% for city in cities %}
  <div class="city">
    <div class="content">
      {{city.city_name}}
      <div class="country">
          {{city.country.country_name}}
              <div class="visited">
                {% if city.visited == True %}
                <span> &#10004; </span>
                {% else %}
                <span> &#10006; </span>
                {% endif %}
              </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
</body>