<header id="new_city_header">Add a New City.</header>
{% extends 'base.html' %}

{% block content %}

<form action="/cities" method="post">
    <div>
        <br><label id="new_city_text_box" for="city_name">City: </label>
        <input type="text" id="city_name" name="city_name" placeholder="City">
    </div>
    
    <div>
        <br><label id="new_city_name_text_box" for="country">Country: </label>
        <select id="country" name="country_id">
            {% for country in countries %}
            <option value="{{country.id}}">{{country.country_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <br><label id="new_city_visited_text_box" for="visited">Visited? </label>
        <select id="visited" name="visited">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>

    <br><button id="new_city_button" type="submit">Add City</button>

</form>

{% endblock %}