{% extends 'base.html' %}

{% block content %}

<form action="/sights" method="post">
    <div>
        <label for="sight_name">Sight: </label>
        <input type="text" id="sight_name" name="sight_name" placeholder="Sight">
    </div>
    
    <div>
        <label for="city">City: </label>
        <select id="city" name="city_id">
            {% for city in cities %}
            <option value="{{city.id}}">{{city.city_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Visited? </label>
        <select id="visited" name="visited">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>

    <button type="submit">Add Sight</button>

</form>

{% endblock %}