{% extends "base.html" %}
{% block content %}
<h1>My Sights</h1>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/sights/new">New Sight</a></li>
            </ul>
        </nav>
    </header>
</body>


    <div class="sight">
        <div class="content">
            <p>{{sight.sight_name}}</p>
            <p>Visited: {% if sight.visited == True %}
                <span> &#10004; </span>
                {% else %}
                <span> &#10006; </span>
                {% endif %}
            </p>

            <p><a href="/sights/{{sight.id}}/edit">Edit</a></p>

            <form class="delete-form" action="/sights/{{sight.id}}/delete" method="POST">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>

        </div>
    </div>

{% endblock %}
</body>