<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>My Bucket List</title>
</head>
<body id="main_body">
  <header>
    <nav id="main_nav">
      <ul id="main_nav_list">
        <li><a id="home_link" href="/">Home</a></li>
        <li><a id="countries_link" href="/countries">Countries</a></li>
        <li><a id="cities_link" href="/cities">Cities</a></li>
        <li><a id="blog_link" href="/blogs">Blog</a></li>
        <li><a id="photos_link" href="/photos">Photos</a></li>
      </ul>

        <div id="main_forms">
        <br><form name="search" action="" method="GET">
          <input type="text" id="search_country" name="search_country" placeholder="Search countries...">
          <button id="country_button" type="submit">Search</button>
            </form>

        <form name="search" action="" method="GET">
          <input type="text" id="search_city" name="search_city" placeholder="Search cities...">
          <button id="city_button" type="submit">Search</button>
            </form>

        <form name="search" action="" method="POST">
          <input type="text" id="search" name="search_sight" placeholder="Search sights...">
            <button id="sight_button" type="submit" value="submit">Search</button>
              </form>
            </div>

        

    </nav>
  </header>
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>  
</body>
</html>