<header id="new_photo_header">Add a New Photo.</header>
{% extends 'base.html' %}

{% block content %}

<form action="/photos" method="post">
    <div>
        <label id="add_new_photo_location"for="photo_location">Location: </label>
        <input type="text" id="photo_name" name="photo_name" placeholder="Photo">
    </div>
    
    <div>
        <br><label id="add_new_photo_date" for="photo_date">Date: </label>
        <input type="date" id="photo_date" name="photo_date">
    </div>

    <div>
        <br><label id="add_new_photo_url" for="photo_url">Photo: </label>
        <input type="text" id="photo_url" name="photo_url" placeholder="photo_url">
    </div>


    <br><button id="add_new_photo_button" type="submit">Add Photo</button>

</form>

{% endblock %}